<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ asset("css/bootstrap.css") }}">
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">

    <title>Address Book</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Address Book</a>
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          {% for type, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
              <div class="alert alert-{{ type }}">
                {{ flash }}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="page-title">{% block title %}{% endblock %}</h2>
        </div>
      </div>

      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
