{% extends "contact/base.html.twig" %}

{% block title %}Are you sure you want to delete contact {{ contact.fullName }}?{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
